import dynlib
include imports
include declarations

proc run*(stateLib: LibHandle) {.exportc, dynlib.} =
  # Load Get Accessors
  {loadGetAccessors}

  # Load Set Accessors
  {loadSetAccessors}

  # Load State
  {loadState}

  # Command
  {command}

  # Save State
  {saveState}
