import dynlib
include imports
include declarations

# Variable declarations
{variableDeclarations}

# Accessor declarations
{accessorDeclarations}

proc initialize*(oldStateLib: LibHandle) {.exportc, dynlib.} =
  if oldStateLib.isNil:
    return

  # Load Old Get Accessors
  {loadOldGetAccessors}

  # Update State
  {updateState}
